@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

@font-face {
  font-family: 'Circular Std Book';
  src: url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot');
  src: url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book')
      format('svg');
}

$main-red: #ff385c;
$main-green: #008489;
$main-font: 'Poppins', sans-serif;
$font-2: 'Circular Std Book', sans-serif;
@import './components/Home.scss';
@import './base/base.scss';
@import './components/Highlight.scss';
@import './components/Online.scss';
@import './abstracts/variables.scss';
@import './components/Search.scss';
@import './components/Modal.scss';
@import './base/animations.scss';
@import './components/Login.scss';
@import './base/utils.scss';
@import './components/Signup.scss';
@import './components/Header.scss';
@import './components/Account.scss';
@import './components//CreateListing.scss';
